<br><br>
<div class='menu_cards'>
  <div class='col-md-4 card'>
    <%= link_to "Random Chord Generator", random_chord_generator_path %>
  </div>
  <div class='col-md-4 card'>
    <%= link_to "Scale Discovery", scale_discovery_path %>
  </div>
  <div class='col-md-4 card'>
    <%= link_to "Chord Finder", chord_finder_path %>
  </div>
</div>

<style>
  .menu_cards{
    text-align: center;
  }
  .card{
    height: 100px;
    width: 200px;
    border: 2px solid teal;
    border-radius: 5px;
    background: white;
    margin: 10px;
  }

</style>
