<div class='container'>
<br><br>
<div class='col-md-12'>
  <div class='col-md-4'>
    <div class="panel panel-default">
      <div class="panel-body">
        Panel content
      </div>
      <div class='panel-footer'>
        <%= link_to "Random Chord Generator", random_chord_generator_path %>
      </div>
    </div>
  </div>
  <div class='col-md-4'>
    <div class="panel panel-default">
      <div class="panel-body">
        Panel content
      </div>
      <div class='panel-footer'>
        <%= link_to "Scale Discovery", scale_discovery_path %>
      </div>
    </div>
  </div>
  <div class='col-md-4'>
    <div class="panel panel-default">
      <div class="panel-body">
        Panel content
      </div>
      <div class='panel-footer'>
        <%= link_to "Chord Finder", chord_finder_path %>
      </div>
    </div>
  </div>
</div>

</div>
<style>
  .panel{
    max-width: 300px;
  }
  .panel-footer{
    text-align: center;
  }
  .top-image{
    position: relative;
  }
  .words{
    position:absolute;
    top: 30%;
    font-size: 3em;
  }
</style>
