<div class='container'>
<br><br><br>

  <% @keepit.each do |showem| %>
    <%= showem %>
  <% end %>
  <hr>


  <% @lyrics.each do |showem| %>
  <div class='wordchoice'>
    <%= link_to "#{showem}", lyric_generator_path(:keeparr => @keepit, :keepit => "#{showem}"), :style => 'color:black' %>
  </div>
  <% end %>
  <br><br>
  <%= link_to "New Generation", lyric_generator_path, class: 'btn btn-lg btn-danger', :style => 'color:white' %>
</div>

<style>
  .wordchoice{
    display:inline-block;
    box-shadow:1px 1px 5px rgba(0,0,0,0.3);
    padding: 5px;
    margin:4px;
    border-left: 1px solid rgba(0,0,0,0.4);
    border-radius: 2px;
  }
  a:hover{
    background: white;
  }
</style>
