<h1 class='text-center' style='background:#458585;color:white'>Random Chord Progression Generator</h1>

<div class='btn-group'>
  <strong>Number of Chords: </strong>
  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= @numberofchords %>
  </button>
  <ul class='dropdown-menu'>
    <% for n in 1..12 %>
      <li><%= link_to "#{n}", random_chord_generator_path(:numberofchords => n) %></li>
    <% end %>
  </ul>
</div>
<hr>

<h1 class='text-center'>
  <% @chordarray.each do |rando| %>
    <div class='chordbox'>
      <%= rando %>
    </div>
  <% end %>
</h1>
<br>

<div class='text-center'>
  <br><br>
<%= link_to "New Generation", random_chord_generator_path(:numberofchords => @numberofchords), class: 'btn btn-lg btn-warning', :style => 'color:white;' %>
</div>

<style>
  .chordbox{
    display: inline-block;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.3);
  }
</style>
