// Place all the styles related to the Scales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dropdown-toggle{
  background:white;
  border-width: 0px 0px 2px 0px;
  border-color: red;
  margin-right: 4px;
  box-shadow: 0px -2px 2px rgba(0,0,0,0.2) inset;
}
.dropdown-menu{
  border: 1px solid black;
  max-height: 500px;
  overflow-y: auto;

}
.notebox{ //displayed in 'Scale Discovery' as boxes with notes presented
  height:25px;
  width: 50px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  padding-top: 2px;
}
.yesno{ // Display of whether string can be played open or not
  width:25px;
  height:25px;
  text-align: center;
  display: inline-block;
}



.stringles{ // Wrapper for each string in instrument layout
  display: inline-block;
}
.note{
    height:25px;
    width:25px;
    border: 1px solid black;
    margin-bottom: 4px;

}
.root{
  background: #0cb1b1;
}
.play{
  background: grey;
}
.dont-play{
  background: white;
}


// =============================[ PIANO DISPLAY MAP STYLING ]============================= \\

.one_octave{
  position:relative;
  height: 60px;
  display: inline-block;
}
.bk{
  display:inline-block;
  height: 40px;
  width: 14px;
}
.blackkeys{
  border: 1px solid black;
  height: 22px;
  background: white;
  vertical-align: top;
}
.blackkeygap{

  height: 18px;
  background: white;
}
.whitekeys{
  border: 1px solid black;
  height: 40px;
  width:20px;
  display:inline-block;
  background: white;
  margin: 0;
}
.play{
  /*background: rgba(154,78,78, 0.4);*/
  background: grey;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4) inset;
}
.playblack{
  background: rgba(51,14,14, 0.4);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4) inset;
}
.piano-root{
  background: #0cb1b1;
}
.piano-indicator{
  position: absolute;
  bottom:0;

}
